<div class="content-footer-wrapper">
    <p class="author">
        <span>
        © <%- moment().year(); %>
        </span>
        <span class="love">
        <i class="fa fa-heart"></i>
        </span>
        <span>
        <%- config.author; %>
        </span>
    </p>
    <p class="power">
        Powered by <a href="https://github.com/w4ngzhen/hexo-theme-brief">Brief</a>
    </p>
</div>