<div class="footer-content">
    <p class="author">
        <span>
        © <%- moment().year(); %>
        </span>
        <span class="love">
        <i class="fa fa-heart"></i>
        </span>
        <span>
        <%- config.author; %>
        </span>
    </p>
</div>