<ul class="menus">
    <% for ( menu in theme.menus ) { %>
        <%
            const menuInfo = theme.menus[menu];
            const [menuPath, icon] = menuInfo.split("||").map(e => e?.trim());
        %>
        <li class="menu-item" data-path="<%- menuPath; %>">
            <% if(theme["menus-config"]["enable-icon"] && icon) { %>
                <i class="<%- icon; %>"></i>
            <% } %>
            <a href="<%- url_for(menuPath); %>"><%- menu; %></a>
        </li>
    <% } %>
</ul>