<ul id="post-list">
    <%
    function filterPost(postAttrData, targetAttr) {
        for (let i = 0; i < postAttrData.length; i++) {
            if (postAttrData[i].name === targetAttr) {
                return true;
            }
        }
        return false;
    }
    site.posts.data.filter(_post => {
        if (filterType === "tag") {
            return filterPost(_post.tags.data, page.tag);
        }
        if (filterType === "category") {
            return filterPost(_post.categories.data, page.category);
        }
        return true;
    }).sort((p1, p2) => p2.date - p1.date).forEach(post => {
    %>
        <li class="post-item">
            <div class="info">
           <span class="date">
            <%- date(post.date, "YYYY年MM月DD日"); %>
           </span>
            </div>
            <a class="title" href="<%- url_for(post.path); %>">
                <%- post.title; %>
            </a>
        </li>
    <% }); %>
</ul>