<div id="tag-cloud">
    <div class="tag-cloud-header">
        <%- site.tags.length; %>
        tags in total
    </div>
    <div class="tag-cloud-content">
        <%-
        tagcloud({
            min_font: 14,
            max_font: 20,
            color: true,
            start_color: "#999",
            end_color: "#000"
        });
        %>
    </div>
</div>