html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--body-bg-color);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}
