#header-content {
    &.header-content-mobile {
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            .header-brand {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: var(--brand-bg-color);
                width: 100%;
                padding-bottom: 8px;
                margin-bottom: 8px;

                .header-brand-title {
                }

                .header-brand-subtitle {
                    font-size: 10px;
                }
            }

            .extend-info {

                .social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 8px;

                    .header-social-item {
                        color: var(--social-item-color-mobile);
                    }
                }

                .menus {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    margin-bottom: 8px;

                    .header-menu-item {
                        color: var(--menu-item-color-mobile);

                        &.active {
                            color: var(--menu-item-color-mobile-active);
                        }
                    }
                }
            }
        }
    }

    &.header-content-pc {
        width: 700px;

        .content-wrapper {
            display: flex;
            padding: 10px;
            justify-content: space-between;
            background: var(--brand-bg-color);

            .header-brand {
                display: block;
            }

            .extend-info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .social {
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 8px;

                    .header-social-item {
                        color: var(--social-item-color-pc);
                    }
                }

                .menus {
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: baseline;


                    .header-menu-item {
                        color: var(--menu-item-color-pc);

                        &.active {
                            color: var(--menu-item-color-pc-active);
                        }
                    }
                }

            }
        }
    }
}

/* basic component style */
#header-content {
    .header-brand-title {
        font-size: 24px;
        color: var(--brand-color)
    }

    .header-brand-subtitle {
        margin: 0;
        font-size: 14px;
        color: var(--brand-color)
    }

    .header-social-item {
        font-size: 12px;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    .header-menu-item {
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &.active {
            text-decoration: underline;
        }
    }
}