#main {
    display: flex;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    #aside-container {
        /* 宽度小于等于600px，不显示侧边 */
        @media only screen and (max-width: 600px) {
            display: none;
        }
        width: 240px;
        padding: 0 10px;
        overflow-y: auto;
    }

    #nav-container {
        /* 宽度小于等于600px，显示顶部nav */
        @media only screen and (min-width: 600px) {
            display: none;
        }
    }

    #content-container {
        flex: 1;
        overflow-y: auto;

        .content-body {
            padding: 10px;
            background: white;
            margin-bottom: auto;
        }

        .content-footer {
            background: var(--body-bg-color);

            .content-footer-wrapper {
                padding: 10px;

                p {
                    margin: 0;
                    color: var(--text-color);
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    display: flex;
                    justify-content: center;

                    span.love {
                        color: red;
                    }
                }

                p.author {
                    span {
                        margin-left: 5px;
                    }
                }

                p.power {
                    a {
                        text-decoration: underline;
                        color: var(--theme-color);
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

