.nav-content {
    width: 100%;

    .nav-header {
        padding: 10px;
        display: flex;
        align-items: center;
        background: var(--brand-bg-color);
        color: var(--brand-color);

        .menu-icon-btn {
            &:hover {
                cursor: pointer;
            }

            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-brand {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title {
                font-size: 16px;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            .subtitle {
                margin: 0;
            }
        }

        .search {
            width: 20px;
            height: 20px;
        }
    }

    .nav-menus-wrapper {
        visibility: hidden;
        height: 0;
        transition: visibility 0.3s ease, height 0.3s;
        background: var(--menu-bg-color);

        &.show {
            visibility: unset;
            height: 180px;
            overflow-y: auto;
            border-bottom: 1px solid var(--border-color);
        }
    }

    .nav-toc-wrapper {
        visibility: hidden;
        height: 0;
        transition: visibility 0.3s ease, height 0.3s;
        background: var(--menu-bg-color);

        .nav-toc-list-content {

            span {
                white-space: break-spaces;
                word-break: break-all;
            }

            a {
                &:hover {
                    color: var(--theme-color);
                    text-decoration: underline;
                }
            }

            .toc-item {
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            ol {
                list-style-type: none;
                padding-inline-start: 10px;
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        &.show {
            visibility: unset;
            height: 180px;
            overflow-y: auto;
            border-bottom: 1px solid var(--border-color);
        }
    }
}