#tag-cloud {
    padding: 10px;

    .tag-cloud-header {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tag-cloud-content {
        a {
            display: inline-block;
            padding: 5px 10px;
        }
    }
}