@font-face {
    font-family: "blog-icons";
    src: url("blog-icons.woff2?dbb5a4fbb69304f93274acbbddd14aa1") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: blog-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu:before {
    content: "\f101";
}
.icon-rss:before {
    content: "\f102";
}
.icon-github:before {
    content: "\f103";
}
