/** gitalk 样式优化 **/
#article-comment-gitalk {
    .gt-container {
        border-top: 1px dashed var(--theme-color);
        padding: 0 10px;

        .gt-header-controls-tip {
            svg {
                fill: var(--theme-color);
            }

            color: var(--theme-color);
        }

        .gt-link {
            border-bottom: 1px dotted var(--theme-color);
        }

        a {
            color: var(--theme-color);
        }

        .gt-comment-username {
            color: var(--theme-color);
        }

        .gt-comment-content {
            svg {
                fill: var(--theme-color);
            }
        }

        .gt-btn {
            border: 1px solid var(--theme-color);
            background-color: var(--theme-color);

            &.gt-btn-preview {
                color: var(--theme-color);
                background-color: unset;
            }

            &.gt-btn-login {
                background-color: var(--theme-color);
                color: white;
            }
        }

        .gt-popup .gt-action.is--active::before {
            background: var(--theme-color);
        }

        .gt-user .is--poping .gt-ico svg {
            fill: var(--theme-color);
        }
    }
}